.footer {
	//gere le footer//
	padding-bottom: 30px;
	@include flex-column;
	@include placement-texte;
	gap: 10px;
	background-color: $color-footer;
	color: white;
	& > h2 {
		font-size: 25px;
	}
	& > a {
		outline: none;
		text-decoration: none;
		color: white;
		&:hover {
			cursor: pointer;
		}
	}
	//gere les icon du footer//
	&__icon--1 {
		display: flex;
		padding-left: 5px;
		justify-content: flex-start;
		gap: 12px;
	}
	&__icon--2 {
		display: flex;
		justify-content: flex-start;
		gap: 10px;
	}
}
