//gere les page menu//
.menu {
	&__bgimg img {
		//gere l'image de fond//
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	&__list {
		//gere le placement du menu entier//
		position: relative;
		top: -60px;
		padding-bottom: 50px;
		margin-bottom: -60px;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		background: $color-bg-info-restaurant;
		@include placement-texte;
	}
	&__placement {
		//gere le placement du des liste//
		@include flex-column;
		@include placement-page;
	}
	.placement-list {
		//gere le placement des liste pour la version pc//
		@media (min-width: $bp-pc) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}
	&__text {
		//gere le texte qui a le nom du restaurant//
		padding-top: 30px;
		font-size: small;
		display: flex;
		width: 100%;
	}
	&__fav {
		//gere le coeur pour favori//
		margin-top: 10px;
		margin-right: 20px;
		margin-left: auto;
	}
	&__entrées {
		//gere la partie entrées//
		@include flex-column;
		@include fiche-menu;
		& > h3 {
			@include menu-underline;
		}
	}
	&__plats {
		//gere la partie plat//
		@include flex-column;
		@include fiche-menu;
		& > h3 {
			@include menu-underline;
		}
	}
	&__desserts {
		//gere la partie desserts//
		@include flex-column;
		@include fiche-menu;
		& > h3 {
			@include menu-underline;
		}
	}
	.placement-btn {
		//gere le placement du btn//
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}
}
