// gestion de la zone de recherche//
#recherche {
	width: 100%;
	height: 50px;
	background: $color-nav;
	display: inline-block;
	text-align: center;
	padding-top: 15px;
}
.icon-recherche {
	padding-top: 7px;
	padding-right: 20px;
}
input[type="text"] {
	width: 140px;
	outline: none;
	border: none;
	background: $color-nav;
	font-size: large;
}
