//animation fav//
.like-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0;
	z-index: 2;
}
.fa-heart {
	position: relative;
	color: transparent;
	-webkit-text-stroke: 1px black;
	top: -30px;
	left: 3px;
	transition: all ease-in-out;
}
.like-btn:checked + .fa-heart {
	-webkit-text-stroke: 0px white;
	animation: 0.5s linear forwards burst;
}
@keyframes burst {
	0%,
	10% {
		transform: scale(1);
		opacity: 0.5;
		color: $color-primary;
	}
	45% {
		transform: scale(0.2) rotate(30deg);
		opacity: 0.75;
		color: $color-primary;
	}
	70% {
		transform: scale(2) rotate(-37.5deg);
		opacity: 1;
		color: $color-secondary;
	}
	90%,
	95% {
		transform: scale(1) rotate(10deg);
	}
	100% {
		transform: rotate(-2.5deg);
		background: linear-gradient(-150deg, $color-primary, $color-secondary);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

//animation selection plat//
.effect {
	//gere la selection du plat//
	display: inline-flex;
	position: relative;
	text-decoration: none;
	overflow: hidden;
}
.effect.effect-2 {
	transition: all 0.3s linear 0s;

	&:after {
		//ajoute l'icone et le background avec le statue par default//
		content: "\f058";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: -70px;
		width: 70px;
		height: 100%;
		transition: all 0.3s linear 0s;
		background-color: $color-font-nouveau;
		text-align: center;
		border-radius: 50%;
	}

	&:hover {
		//changement quand on hover sur un btn//
		padding-right: 60px;
		&:after {
			right: -10px;
			padding-right: 0px;
			transform: rotate(1turn);
		}
	}
}

//animation loading menu//
.loading {
	visibility: hidden;
	opacity: 0;
}
.menu {
	//gere l'arrivée des section a la suite dans les menu //
	&__entrées {
		@include menu-loading;
		animation-delay: 0.5s;
		background: $color-bg-info-restaurant;
	}
	&__plats {
		@include menu-loading;
		animation-delay: 1s;
	}
	&__desserts {
		@include menu-loading;
		animation-delay: 1.5s;
		background: $color-bg-info-restaurant;
	}
}

@keyframes spinner {
	100% {
		visibility: visible;
		opacity: 1;
	}
}
//animation loading index//
.hidden {
	//gere la pseudo invisibilité de la page durant le spinner//
	visibility: hidden;
	opacity: 0;
	animation: 0.5s linear forwards hidden;
	animation-delay: 2s;
	background: white;
}
@keyframes hidden {
	0%,
	40% {
		background: white;
		opacity: 0;
	}
	100% {
		opacity: 1;
		background: white;
		visibility: visible;
	}
}

.spinner {
	//gere le spinner de la page index quand on arrive//
	height: 100px;
	width: 100px;
	color: $color-secondary;
	border: 5px solid;
	border-radius: 50%;
	border-right-color: $color-primary;
	animation: rotate 1s linear 4;
	position: fixed;
	top: 40vh;
	left: 40vw;
	@media (min-width: $bp-pc) {
		top: 50vh;
		left: 50vw;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
