.btn {
	//gere les btn de validation//
	@include btn;
	&__submit {
		@include btn;
	}
}

.menubtn {
	//gere les btn qui compose les menu//
	cursor: pointer;
	@include flex-column;
	@include radius-shadow;
	text-align: start;
	padding-left: 10px;
	height: 70px;
	min-width: 270px;
	max-width: 980px;
	width: 95%;
	background: white;
	@media (min-width: $bp-pc) {
		width: 500px;
	}
	.titre {
		display: block;
		padding-top: 10px;
		font-weight: bolder;
		font-size: large;
	}
	.prix {
		padding-right: 10px;
	}
	&__text {
		width: 100%;
	}
	&__prix {
		display: flex;
		white-space: nowrap;
		width: 100%;
		color: grey;
		padding-top: 5px;
	}
}
