@mixin flex-column {
	display: flex;
	flex-direction: column;
}
@mixin placement-page {
	//gere le centrage de la page
	margin: auto;
}
@mixin placement-texte {
	//gere le placement du texte
	padding-left: $padding-texte;
}
