//couleur//
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-font-nouveau: #0a8d6d;
$color-nav: #eaeaea;
$color-bg-info-restaurant: #f6f6f6;
$color-footer: #353535;

//variable media querry//
$bp-pc: 992px;
$bp-tablet: 768px;
$bp-phone: 767px;

//padding texte//
$padding-texte: 20px;
